.h2 {
    font-size: 50px;
    color: $color-hero__inner-yashil;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.blog__inner {
    display: flex;
    gap: 24px;
}

.blog__nav {
    width: 371px;
    height: 395px;
    background-color: $color-hero__inner-seri2;
    border-radius: 8px;

    h3 {
        font-size: 20px;
        max-width: 325px;
        color: $color-hero__inner-yashil;
        padding: 22px 22px 3px 22px;
        line-height: 28px;
    }

    img {
        border-radius: 8px;
    }

    p {
        font-size: 16px;
        max-width: 325px;
        color: $color-hero__inner-ok;
        padding: 0 22px;
        line-height: 24px;
        margin: 0 0 22px 0;
    }

}