.featured__products2 {
    background-image: url(../img/Vector\ \(2\).png);
    background-repeat: no-repeat;
    margin: 120px 0 0 0;
    margin-right: 50px;
    
}

.featured-products__inner2 {
    display: flex;
}


.featured-products2 {
    h2 {
        font-size: 50px;
        color: #5FD788;
        margin: 0 215px 0 0;
    }
}

