.featured__products {
    background-image: url(../img/Vector\ \(2\).png);
    background-repeat: no-repeat;

}

.featured-products ::before {}


.featured-products {
    h2 {
        font-size: 50px;
        color: #5FD788;
    }
}

.Aroma_Diffuser img {}