.footer {
    width: 1441px;
    height: 250px;
    background-color: #374151;
    margin: 100px 0 0 0;
}

.footer__nav {
    display: flex;
}

.footer__wan {

    h3 {
        color: #5FD788;
        font-size: 12px;
    }

    a {
        color: #9CA3AF;
        list-style-type: none;
        text-decoration: none;
        font-size: 12px;
    }

}

.footer__too {

    h3 {
        color: #5FD788;
        font-size: 12px;
    }

    a {
        color: #9CA3AF;
        list-style-type: none;
        font-size: 12px;
        text-decoration: none;
    }
}

.footer__theree {

    h3 {
        color: #5FD788;
        font-size: 12px;
    }

    a {
        color: #9CA3AF;
        list-style-type: none;
        text-decoration: none;
        font-size: 12px;
    }
}

.ppp {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 16px;
    max-width: 222px;
    color:#9CA3AF;
}