* {
    box-sizing: border-box;
}

body {
    background-color: $color-body;
    font-family: "Roboto""sanserif";
    margin-top: 100px;
}

.header {
    padding: 26px 0;
    display: flex;
    width: 100%;
    top: 0;
    position: fixed;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $color-body;
    background-color: $color-body;
}

.header__inner {
    display: flex;
    align-items: center;


    img {
        width: 102px;
        height: 24px;
    }
}




.header__nav ul {
    display: flex;
    gap: 10px;
    list-style-type: none;

    a {
        color: #FFFFFF;
        text-decoration: none;
        font-size: 12px;
        font-style: normal;
    }

    nav {
        display: flex;
    }
}

.vector {
    width: 14.05px;
    height: 15.66px;
    margin: 0 12px 0 auto;
}

.lupa {
    width: 16px;
    height: 15.66px;

}