.hero__inner {

    h2 {

        font-size: 96px;
        line-height: 86px;
        color: $color-hero__inner-yashil;
        max-width: 480px;
        margin: 0px 0 38px 0;
        justify-content: space-evenly;


    }

    p {
        color: $color-hero__inner-seri;
        font-size: 14px;
        line-height: 19px;
        max-width: 345px;
        display: flex;
    }
}



.hero__img img {
    margin: 0 0 0 500px;

    @media (max-width: $desktop) {
        height: 196px;
        width: 290px;
       
        left: 541px;
        top: 264px;
        border-radius: 0px;



    }
}


.hero {
    background-image: url(../img/Ellipse\ 1\ \(1\).svg);
    background-repeat: no-repeat;
    background-position: top right;

    @media(max-width:$desktop) {
        height: 465px;
        width: 674px;
        background-repeat: no-repeat;
        background-position: top right;
    }
}