.image_with_text {
    background-image: url(../img/Blob.png);
    background-repeat: no-repeat;
}

.image_with_text__inner {
    display: flex;
}

.improve {

    h2 {
        font-size: 50px;
        color: $color-hero__inner-yashil;
        max-width: 573px;
        line-height: 53px;
    }

    p {
        font-size: 14px;
        color: $color-hero__inner-seri;
        max-width: 374px;
        line-height: 19px;
        margin: 0 0 30px 0;
    }

    a {
        border: 0;
        background-color: $color-hero__inner-yashil;
        padding: 12px 30px;
        border-radius: 8px;
        margin: 0;
        text-decoration: none;
        color: $color-body;
        display: inline-block;
        text-align: center;
        font-size: 16px;


    }

    


}
