.text__image__inner {
    width: 794px;
    height: 515px;
    background-color: $color-hero__inner-yashil;
    margin: 0 0 0 -100px ;

    h2 {
        font-size: 50px;
        color: $color-body;
        max-width: 523px;
        margin: 100px 0 0 150px;

        
    }

    a {
        border: 0;
        background-color:$color-body;
        padding: 12px 30px;
        border-radius: 8px;
        margin: 150px;
        text-decoration: none;
        color: $color-hero__inner-ok;
     }
}

.text__image img {
    margin: -250px 0 200px 780px;
    
}



.text__image {
    margin: 180px 0 0 0;
}

