.text__image__inner {
    width: 794px;
    height: 515px;
    background-color: #5FD788;
   
    margin: 0 0 0 -100px ;

    h2 {
        font-size: 50px;
        color: #1F2937;
        max-width: 523px;
        margin: 100px 0 0 100px;

        
    }
}

.text__image img {
    margin: -298px 0 200px 700px;
    
}


.btn2 {
    background-color:#1F2937;
    border-radius: 8px;
    padding: 8px 30px;
    color: #F3F4F6;
    border: 0px;
    margin:  35px 0 0 100px ;
}

.btn2 {
    background-color: #1F2937;
    border-radius: 8px;
    padding: 8px 30px;
    color: #F3F4F6;
    border: 0px;
}

.text__image {
    margin: 180px 0 0 0;
}

