 $desktop-l: 1440px;
 $desktop: 1200px;
 $tablet: 768px;

 $color-body: #1F2937;
 $color-hero__inner-yashil: #5FD788;
 $color-hero__inner-seri: #9CA3AF;
 $color-hero__inner-ok: white;
 $color-hero__inner-seri2: #374151;